@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* NAVIGATION AND THEME */
nav {
  position: fixed !important;
  z-index: 1000;
  width: 80%;
  left: 10%;
  top: 6%;
  box-shadow: 0 15px 35px rgba(255, 102, 0, 0.1);
  border: 1px solid rgba(255, 102, 0, 0.925);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(222, 223, 228, 0.747);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

.disable
{
  display: none;
}
.dud {
  color: #757575;
}
#IconContainer
{
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 1000;
  flex-direction:unset;
  margin-bottom: 2%;
}
#IconContainer #icon
{
  position: relative;
  list-style: none ;
  margin-left: 10%;
  background-color: transparent;
  display: unset;
  padding: 0;
}
#IconContainer #icon #link 
{
  position: relative;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  box-shadow: 0px 15px 35px rgba(255, 102, 0, 0.2);
  border: 1px solid rgba(255, 102, 0, 0.925); 
  backdrop-filter: blur(2px);
  transition: 0.5s;
  overflow: hidden;
}
#IconContainer #icon #link:hover
{
  transform: translateY(-20px);
}
#IconContainer #icon #link::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: rgba(255, 102, 0, 0.925);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}
#IconContainer #icon #link:hover::before
{
  transform: skewX(45deg) translateX(-150px);
}
#sec1
{
  box-shadow: 0 15px 35px rgba(255, 102, 0, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(400px);
  border: 1px solid rgba(255, 102, 0, 0.925);
  margin: 5%;

}
/* PROGRESSBAR */
::-webkit-scrollbar
{
    width: 0;
}
#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
}
#progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(90deg,#ffb17c,#ffac5e,#fd993b,#f86e11,#cc5d1d);
    background-size: 400%,400%;
    animation: gradient 6s ease-in-out infinite;
}

#progressbar:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#a7a7a7,#818181,#646464,#7c7c7c,#a8a8a8);
    filter: blur(10px);
}
#progressbar:after
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#a7a7a7,#818181,#646464,#7c7c7c,#a8a8a8);
    filter: blur(80px);
}
/* DARKMODE BUTTON */
#Switch
{
    overflow: hidden;
    background-size: 400%,400%;
    animation: gradient 6s ease-in-out infinite;
    width: 60px;
    height: 60px;
    position: fixed;
    border-radius: 50%;
    border: none;
    right: unset;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}
/* DARKMODE & LIGHTMODE */
.DarkText
{
  color: rgb(255, 255, 255) !important;
  transition: 0.75s;
}
.LightText
{
  color: rgb(0, 0, 0) !important;
  transition: 0.75s;
}
.DarkBGround
{
  background:linear-gradient(-45deg,#272727,#1d1d1d,#272727) ;
  background-size: 400%,400% !important;
  animation: gradient 6s ease-in-out infinite;
}
.LightBGround
{
  background:linear-gradient(-45deg,#dddddd,#fffffff1,#dadadae3,#a8a8a8e3,#ffffffe3) ;
  background-size: 400%,400% !important;

}
@keyframes gradient {
  0%
  {
      background-position:0 50%;
  }
  50%
  {
      background-position: 100% 50%;
  }
  100%
  {
      background-position: 0 50%;
  }
}
.list-group-item
{
  border: unset;
}
.cont1
{
  padding:5%;
  padding-top:8%;
  padding-bottom:8%;
  display: flex; 
  justify-content: center;
}